/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* basic styles
--primary-color: rgba(249, 72, 178, 100%);
  --secondary-color: rgba(135, 88, 241, 100%);
 */
body {
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

:root {
--primary-color: #0B0223;
--secondary-color: #534C64;
--text-color: #534C64;
--text-font-size: 18px;
--primary-font-size: 48px;
--btn-bg-color: #F948B2;
}

.btn {
    background-color: var(--btn-bg-color);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.basic-title {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
}
.basic-text {
    color: var(--text-color);
    font-size: var(--text-font-size);
    font-weight: 400;
}


/* header styles */

.header-container {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
display: flex;
}
.logo img {
width: 100%;
padding: 38px 0;
}
.logo-text {
padding-left: 20px;
}
.logo-text-color {
color: #F948B2;
}
.nav {
display: flex;
align-items: center;
}
.nav li {
padding-right: 30px;
list-style: none;
}
.nav li a {
text-decoration: none;
color: #3C354F;
font-size: var(--text-font-size);
font-weight: 500;
}
.logo-text {
color: var(--primary-color);
font-size: 45px;
font-weight: 700;
}
.menu-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 30px;
}
.menu-btn a {
    padding-right: 12px;
}
/* main section */
/* banner section */
.banner-section {
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    overflow: hidden;
}
.banner-content {
    padding-left: 140px;
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 50%;
    padding-top: 50px;
}
.basic-title {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
    margin-bottom: 0;
}
.basic-title2 {
    background: linear-gradient(180deg, #F948B2 0%, #5885F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin: 0;
    padding: 20px 0;
}
.icon-box li {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
.icon-box img {
    width: 24px;
    height: 24px;
    padding: 10px;
    margin-right: 10px;
}
.ico-box3 {
    display: flex;
    align-items: center;
}
.ico-box img {
    border: 2px solid #0B0223;
    border-radius: 50%;
}
.ico-box2 img {
    width: 60px;
    height: 40px;
    margin-left: -18px;
}
.icon-text {
    margin-top: -20px;
}
.banner-btn {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.banner-img img {
    width: 100%;
}
.btn2 {
    background-color: #4EC5F7;
}

/* main section */

/* video section */
.video-container {
    padding-left: 140px;
    padding-right: 140px;
}
.video-content {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.video-title {
    font-size: 48px;
}
.video-section {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
/* image overlay */
.card-img {
    position: relative;
}
.card img {
    width: 100%;
    display: block;
    height: auto;
}
.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    border-radius: 20px;
}
.card-img:hover .card-overlay {
    height: 100%;
}
.card-overlay img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
    color: #fff;
}
.card-overlay p {
    position: absolute;
    top: 58%;
    left: 35%;
    color: #F948B2;
}






.card .card-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    line-height: 30px;
}


/* article section */
.article-container {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 140px;
}
.text-pink-color {
    color: #F948B2;
}
.article-content {
    width: 352px;
    text-align: right;
    margin: 0 auto;
}
.article-img {
    margin-bottom: -180px;
    text-align: right;
    margin-left: 80px;
}
.article-img img {
    width: 90%;
}
.basic-title3 {
    background: #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.article-up-img {
    position: relative;
    bottom: 217px;
    right: 446px;
}
.article-up-img img {
    width: 44%;
}

.article-container2 {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 120px;
}
.article-up-img2 {
    position: relative;
    bottom: 300px;
    left: 500px;
}


/* image section */
.gallery-container {
    padding-left: 140px;
    padding-right: 140px;
    z-index: 9999;
    overflow: hidden;
    padding-bottom: 120px;
    margin-top: -100px;
}
.gallery-container .img-box {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 40px;
}
.gallery-container .img-box .content-box {
    width: 295px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.gallery-container .img-box .content-box img {
    width: 60px;
    height: 60px;
}
.gallery-container .img-box .content-box:hover {
    border: 1px solid #F948B2;
}
.gallery-container2 {
    display: none;
}






/*
.img-container {
    margin: 0 auto;
}
.img-box {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.img-content-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
}
.img-content-box img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.img-content-box:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}*/

/* footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B0223;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer-text {
    color: #fff;
}
.footer-container .nav li a {
    color: #fff;
}
.footer-copy {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
}
.footer-container .nav-color li a {
    color: rgba(255, 255, 255, 0.60);
}
.footer-img img {
    width: 40px;
    height: auto;
    padding: 10px 30px;
}
.footer-img .youtube-img {
    width: 35px;
    background-color: #fff;
    padding: 6px 14px;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 4px;
}
.footer-img .face-img {
    width: 45px;
}
.footer-img .in-img {
    width: 100px;
}
.footer-img .insta-img {
    width: 70px;
    margin-top: -10px;
}
.footer-img .apple-img {
    width: 65px;
    margin-top: -5px;
}





/* media query */
@media screen and (max-width: 768px) {
    .header-container,
    .nav,
    .video-section,
    .article-container,
    .artile-container2
     {
        flex-direction: column;
    }
    .article-container,
    .article-container {
        padding-left: 17px;
        padding-right: 0px;
    }
    .header-container,
    .video-container {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .header-container {
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .banner-section {
        flex-direction: column-reverse;
        padding-right: 0;
        height: auto;
    }
    
    .banner-content {
        width: 100%;
        padding-left: 84px;
    }
    .banner-img {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav li {
        padding-bottom: 20px;
    }
    .article-content {
        width: auto;
        text-align: center;
    }
    .article-img > img {
        width: 260px;
        padding-left: 0;
    }
    .article-up-img > img {
        width: 180px;
    }
    .article-up-img {
        bottom: 160px;
        left: -180px;
    }
    .gallery-container {
        display: none;
    }
    .gallery-container2 {
        display: block;
    }
    .gallery-container .img-box .content-box img {
        width: 25px;
        height: 25px;
    }
    .footer-container .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-container .nav2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-copy {
        max-width: 258px;
    }
    .footer-img img {
        padding: 0;
    }
    .footer-img .twitter-img {
        margin-left: 24px;
    }
    .footer-img .youtube-img {
        margin-top: 7px;
    }
}